/* Directory Page Styles */
.directory-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.banner {
    text-align: center;
    background-color: #f4f4f4;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.join-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #0056b3;
}

/* Stack the heading vertically */
.nav-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}

/* Use row layout for nav-links */
.nav-link-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.nav-link a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.nav-link a:hover {
    color: #007bff;
}

.nav-link p {
    font-size: 1.3rem;
    color: #666;
}

.healer-list {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.healer-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    margin-bottom: 20px;
}

.healer-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.healer-card:hover {
    transform: translateY(-5px);
}

.healer-link {
    color: inherit;
    text-decoration: none;
}

.healer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.healer-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.healer-card p {
    font-size: 1rem;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
