/* Directory Page Styles */
.directory-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.background {
    position: relative; 
    width: 100%;
    height: 400px;
    background: radial-gradient(circle at 100% 50%, #F4A623 0%, black 50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    overflow: hidden; 
}

.verify-container {
    position: absolute;
    top: 50%; 
    right: 10%; 
    transform: translateY(-50%); 
}

.verify-container img {
    width: 200px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 30px;
    width: 600px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #F4A623;
    text-decoration: none;
    text-align: center;
    background: #F4A623;
    padding: 16px 24px;
    border-radius: 6px;
}

.button.alternative {
    text-decoration: underline;
    background: none;
}

.how-it-works {
    text-align: left;
    margin-left: 20px;
    border-bottom: 10px solid #F4A623;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    display: inline-block;
}

.text-center img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-center img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.healer-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    background: #fff; 
    padding: 10px 15px;
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    margin: 20px auto; 
}

.healer-search-container input {
    flex: 1; 
    padding: 8px 12px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 0.9rem;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.healer-search-container input:focus {
    border-color: #5954A6; 
}

.find-healer-title {
    text-align: left;
    margin-left: 20px;
    border-bottom: 10px solid #F4A623;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    display: inline-block;
}

.healer-profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #F4A623;
    margin-bottom: 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.healer-list {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
    /* Adds some padding for better spacing */
    background: linear-gradient(180deg, #FFFFFF 0%, #FFECFF 5%, #FFECFF 20%, #FFFFFF 65%);
}

.card-wrapper {
    margin-bottom: 20px;
}

.healer-profile-card {
    min-width: 250px;
    flex-grow: 1;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    /* Light, warm off-white */
    border-radius: 10px;
    /* Smooth edges for a softer look */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.healer-profile-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.healer-profile-card .card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 6px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: #F4A623;
}

.card-wrapper p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    line-height: 1.5;
    margin-bottom: 12px;
}

.card-wrapper button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    background: #5954A6;
    cursor: pointer;
}

.card-wrapper button:hover {
    background: #473D8C;
}