.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: -1px; /* overlap */
    justify-content: center;
}

.tab-button { /* Default tab button style */
    padding: 10px 20px;
    border: none;
    background-color: rgb(221, 221, 221); /* Default background */
    color: black; /* Default text color */
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 5px; /* Raised effect */
    transition: background-color 0.3s ease, color 0.3s ease, top 0.3s ease;
}

.tab-button:hover, 
.tab-button.active { /* Hover and active state */
    background-color: blue;
    color: white;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
    max-width: 500px;
    width: 100%;
}

.tab-content form { /* Display one form item per row */
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.content-input, .content-textarea { /* Internal form fields styles */
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab-button[type="submit"] { /* Submit button styles */
    background-color: #EAC784;
    color: white;
    padding: 8px 16px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quill-textarea .ql-container {
    resize: vertical;
    overflow: auto;
    min-height: 200px;
    max-height: 600px;
}

.upload-notification {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 32px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}