/* src/styles/header.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Color Palette from brand kit
    Deep Indigo:    #3D3A72
    Warm Gold:      #F4A623
    Earthy Green:   #4CAF50
    Light Beige:    #F5E5C4 
    Default:        #333
*/

header {
    background-color: #3D3A72; /* Background */
    color: white; /* Text Color */
    padding: 1rem; /* Space around header */
}

/* "TribeWell" */
h1 {
    margin: 0; 
    font-size: 2rem; /* Font size */
    font-family: 'Poppins', sans-serif; /* Font*/
}

nav {
    margin-top: 0.5rem; /* Space between title and nav */
}

.nav-links {
    list-style: none; 
    padding: 0; 
    display: flex; /* Display items in a row */
    justify-content: center;
}

.auth-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}

li {
    margin-right: 2rem; /* Space between links */
}

a {
    color: white; /* Link color */
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; /* Underline effect on hover*/
}

.auth-links a {
    background-color: #F4A623; /* Button color */
    color: #3D3A72; /* Text color*/
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    text-decoration: none; 
    font-weight: 600; 
    transition: background-color 0.3s ease; 
}

.auth-links a:hover {
    background-color: #FFD45C; /* Hover effect for button */
}

hr {
    border: 1px solid #F4A623; /* Random line idk */
}
